<!--Incluimos el header con los Partials-->
<%- include('partials/head.ejs') %> 

<%- include('partials/navbar.ejs') %> 


    <h1>Not Found!</h1>
    <p>The page that you where looking for, doesnt exist!</p>


<%- include('partials/footer.ejs') %> 
