<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>This is the Home Page! <%= 'This is JS EJS' %> </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, doloribus eum non dolorem iure omnis doloremque ut blanditiis maxime provident ipsam laborum ipsa vero sunt molestias repudiandae quos quas. Doloribus?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga quod ipsa nesciunt magnam est dolore eveniet amet placeat provident voluptatum, ex minima ab praesentium eligendi facere perspiciatis, minus fugit.</p>
</body>
</html>l