<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC Fighters</title>
</head>
<body>
    <h1>This are the UFC Fighters</h1>
    <ul>
        <% for(let fighter of ufc){ %> 
            <li><%=fighter%></li>
        <%}%> 
    </ul>


</body>
</html>